name: "lapis"
settings: [
  {
    settings:
      background: "#131217"
      caret: "#F8F8F0"
      foreground: "#bfcbcc"
      invisibles: "#383C44"
      lineHighlight: "#ffffff0a"
      selection: "#ff005f"
      selectionForeground: "#131217"
      findHighlight: "#ff00d7"
      findHighlightForeground: "#000000"
      activeGuide: "#9D550FB0"
      bracketsForeground: "#F8F8F2A5"
      bracketsOptions: "underline"
      bracketContentsForeground: "#F8F8F2A5"
      bracketContentsOptions: "underline"
      tagsOptions: "stippled_underline"
  }
  {
    name: "Comment"
    scope: "comment"
    settings:
      foreground: "#8a8a8a"
      fontStyle: "italic"
  }
  {
    name: "String"
    scope: "string"
    settings:
      foreground: "#afafd7"
  }
  {
    name: "Number"
    scope: "constant.numeric"
    settings:
      foreground: "#00d7d7"
  }
  {
    name: "Built-in constant"
    scope: "constant.language"
    settings:
      foreground: "#00ffff"
  }
  {
    name: "User-defined constant"
    scope: "constant.character, constant.other"
    settings:
      foreground: "#00ffd7"
  }
  {
    name: "Variable"
    scope: "variable"
    settings:
      foreground: "#00d7d7"
  }
  {
    name: "Keyword"
    scope: "keyword"
    settings:
      foreground: "#5fafd7"
  }
  {
    name: "Storage"
    scope: "storage"
    settings:
      fontStyle: "italic"
      foreground: "#5fafff"
  }
  {
    name: "Storage type"
    scope: "storage.type"
    settings:
      fontStyle: ""
      foreground: "#5fd7af"
  }
  {
    name: "Class name"
    scope: "entity.name.class"
    settings:
      fontStyle: ""
      foreground: "#5fd787"
  }
  {
    name: "Inherited class"
    scope: "entity.other.inherited-class"
    settings:
      fontStyle: ""
      foreground: "#5fd787"
  }
  {
    name: "Function name"
    scope: "entity.name.function"
    settings:
      fontStyle: ""
      foreground: "#5fd7ff"
  }
  {
    name: "Function argument"
    scope: "variable.parameter"
    settings:
      fontStyle: ""
      foreground: "#5fd7d7"
  }
  {
    name: "Tag name"
    scope: "entity.name.tag"
    settings:
      foreground: "#5fd7d7"
  }
  {
    name: "Tag attribute"
    scope: "entity.other.attribute-name"
    settings:
      fontStyle: "italic"
      foreground: "#5fd7af"
  }
  {
    name: "Library function"
    scope: "support.function"
    settings:
      fontStyle: ""
      foreground: "#5fd7ff"
  }
  {
    name: "Library constant"
    scope: "support.constant"
    settings:
      fontStyle: ""
      foreground: "#00ffff"
  }
  {
    name: "Library class/type"
    scope: "support.type, support.class"
    settings:
      fontStyle: ""
      foreground: "#5fd7d7"
  }
  {
    name: "Library variable"
    scope: "support.other.variable"
    settings:
      fontStyle: ""
      foreground: "#00d7d7"
  }
  {
    name: "Invalid"
    scope: "invalid"
    settings:
      fontStyle: ""
      foreground: "#ff8787"
  }
  {
    name: "Invalid deprecated"
    scope: "invalid.deprecated"
    settings:
      foreground: "#ff87af"
  }
  {
    name: "JSON String"
    scope: "meta.structure.dictionary.json string.quoted.double.json"
    settings:
      foreground: "#afafd7"
  }
  {
    name: "diff.header"
    scope: "meta.diff, meta.diff.header"
    settings:
      foreground: "#75715E"
  }
  {
    name: "diff.deleted"
    scope: "markup.deleted"
    settings:
      foreground: "#F92672"
  }
  {
    name: "diff.inserted"
    scope: "markup.inserted"
    settings:
      foreground: "#A6E22E"
  }
  {
    name: "diff.changed"
    scope: "markup.changed"
    settings:
      foreground: "#E6DB74"
  }
  {
    scope: "constant.numeric.line-number.find-in-files - match"
    settings:
      foreground: "#AE81FFA0"
  }
  {
    scope: "entity.name.filename.find-in-files"
    settings:
      foreground: "#E6DB74"
  }
]
uuid: "1cf6f495-669d-4fac-9add-0136fd7ac982"
